a {
    text-decoration: none;
    color: inherit;
}

p {
    display: block;
}


div.pagination{
    justify-content: center;
}
div.pagination span a, div.pagination span.current{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

div.pagination span.page a:hover{
    background-color: lightgray;
}

div.pagination span a{
    text-decoration: none;
}


div.pagination span.current{
    background-color: #4CAF50;
    color: white;
  }

  div.recommandation{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  div.recommandation h5{
    font-size: 80%;
}  