<section class="card m-3 p-3">
    <h5 class="card-title">Derniers documents ajoutés</h5>
    <ul class="list-group list-group-flush">
    {% for document in documents %}
        <li class="list-group-item"><a href="#">{{document.title}}</a> </li>
    {% endfor %}
    </ul>
</section>

