<section class="card m-3 p-3">
    <h5 class="card-title">Documents les plus empruntés</h5>
    <ul class="list-group list-group-flush">
    {% for document in documents %}
         <li class="list-group-item"><a href="#">{{document.title}} - {{document.docId}} fois</a></li>
    {% endfor %}
    </ul>
</section>