<section class="card m-3 p-0 w" style="width: auto;">
    <div class="card-header p-3">
        <h5 class="card-title">Les prochains évenements</h5>
    </div>
    <ul class="list-group list-group-flush">
    {% for nextfive in nextfives %}
        <li class="list-group-item"><a href="{{ path('meet_up_show', {'id': nextfive.id}) }}">{{nextfive.author}} {{nextfive.date|date("Y-m-d") }}</a></li>
    {% endfor %}
    </ul>
</section>

