{% extends 'base.html.twig' %}

{% block title %}New DVD{% endblock %}

{% block body %}
    <h1>Create new DVD</h1>

    {{ include('d_v_d/_form.html.twig') }}

    <a href="{{ path('d_v_d_index') }}">back to list</a>
{% endblock %}
