{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Livre endommagé{% endblock %}

    {% block main %}

    <style>
    td, th{padding: 10px;}
    </style>
<table>
<thead>
            <tr>
                <th>Nom du livre</th>
                <th>État</th>
                <th>Actions</th>

            </tr>
        </thead>

{% for damagedoc in damagedocs %}

    <tr>
        <td>{{ damagedoc.document }}</td>
        <td>{{ damagedoc.status }}</td>
        <td>
                    <a href="{{ path('maintenance_show', {'id': damagedoc.id}) }}">show</a>
                    <a href="{{ path('maintenance_edit', {'id': damagedoc.id}) }}">edit</a>
        </td>
    </tr>

{% endfor %}
</table>


{% endblock %}
