{% extends 'base.html.twig' %}

{% block title %}Edit CD{% endblock %}

{% block body %}
    <h1>Edit CD</h1>

    {{ include('c_d/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('c_d_index') }}">back to list</a>

    {{ include('c_d/_delete_form.html.twig') }}
{% endblock %}
