 <h1>Bonjour {{ user.firstName }} {{ user.lastName }} !</h1>

<p>
    Vous avez emprunté à la médiathèque le(s) document(s) suivant(s) :
    {{ user.title }}
</p>

<p>
    Nous vous rappelons que la durée du prêt est dépassé.<br>
    Nous vous remercions de bien vouloir rapporter cet (ces) ouvrage(s) le plus<br>
    rapidement possible, afin que d’autres lecteurs puissent en profiter. 
</p>